<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to admin_root_path, class: "navbar-brand" do %>
      <strong>Angilr Admin</strong>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Người dùng', admin_users_path, class: 'nav-link' %>
        </li>
      </ul>
      <div>
        <% if admin_signed_in? %>
          <%= link_to "Thoát", destroy_admin_session_path, class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
