<p>Xin chào <%= @resource.email %>!</p>

<p>Ai đó đã yêu cầu đường dẫn đổi mật khẩu. Bạn có thể thay đổi bằng đường dẫn dưới đây.</p>

<p><%= link_to 'Đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu chuyện này, xin hãy bỏ qua email.</p>
<p>Mật khẩu của bạn sẽ không đổi cho tới khi bạn truy cập vào đường dẫn bên trên và tạo mới.</p>
